.headingDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    background-color: rgb(136, 143, 251);
}

.bg-red {
    background: red;
}

.mx-auto {
    margin: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}
